body{
    background-image: url("../img/background.png");
}
.navbar-header{
    /* background-color: #148a9e; */
  /* background-color: #9e2814; */
    background-color: #ff4e50;

}
.navbar .recommend-it-headers{
    font-size: 48px;
    color:#eee;
    font-family: 'Paytone One', sans-serif;
}
.main-container{
    width:100%;
    margin-bottom:25px;
}
.row{
    margin:10px;
}   
.post-container{
    border: solid 10px #ffcb85;
    background-color: #ddd;
    margin:2%;
    max-height: 100em;
}
.form-container{
    border: solid 10px #ffcb85;
    background-color: #ddd;
    margin:2%;
    padding:5%;
}
.card{
    /* border:solid 10px  #9e6d14; */
    /* border:solid 10px #ffcb85; */
    border-radius:1.5%;
}
.card-text{
    overflow: hidden;
}
.card-columns{
    display: inline-block;
}
.img-fluid{
    max-width:100%; 
    height:auto;
}

.btn{
    color:#444;
    background-color: #fff;
    margin: 2px;
}
/* footer{
    color:#aaa;
    text-align: center;
    background-color: #ff4e50;
    font-family:'Righteous', cursive;
} */
/* footer .btn{
    margin:15px;
} */